.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.logo {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: var(--border-radius);
    display: flex;
    line-height: 0;
}

.logo:hover {
    background-color: var(--bg-hover);
}

.icon {
    display: flex;
    line-height: 0;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: var(--border-radius);
}

.button:hover {
    background-color: var(--bg-hover);
}

:global([data-collapsed="true"]) .button {
    display: none;
    pointer-events: none;
    user-select: none;
}
