@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {

    --button-green-bg: #DCFCE7;
    --button-green-border: #79EDA3;
    --button-green-text: #278647;

    --button-red-bg: #DC2626;

    --button-radius-highlight: 8px;

    --color-green-bg: #E9FBF0;
    --color-green-border: #A7E6B9;
    --color-green-mid: #8CCFA3;

    --color-blue-bg: #EAF5FB;
    --color-blue-border: #A3CBE3;
    --color-blue-mid: #7BB0D1;

    --color-beige-bg: #FFFBEF;
    --color-beige-border: #E8E1C2;
    --color-beige-mid: #D9C99A;

    --color-red-bg: #FDECEC;
    --color-red-border: #E3A3A3;
    --color-red-mid: #CB7474;

    --color-purple-bg: #F4EAFB;
    --color-purple-border: #C5A3E3;
    --color-purple-mid: #A884D0;

    --color-grey-bg: #F5F5F5;
    --color-grey-border: #D1D1D1;
    --color-grey-mid: #A8A8A8;

    --color-pink-bg: #FCE4EC;
    --color-pink-border: #E8A8C3;
    --color-pink-mid: #C16A8E;

    --color-teal-bg: #E0FAF8;
    --color-teal-border: #9CDAD6;
    --color-teal-mid: #6BBEB9;

    --color-yellow-bg: #FFFBE5;
    --color-yellow-border: #E8DD9C;
    --color-yellow-mid: #C8B85D;

    --color-orange-bg: #FFF2E5;
    --color-orange-border: #F5C29C;
    --color-orange-mid: #D38F62;

    --color-brown-bg: #F8F3EF;
    --color-brown-border: #D5BFAE;
    --color-brown-mid: #A88D70;

    --color-charcoal-bg: #F2F3F4;
    --color-charcoal-border: #B3B8BC;
    --color-charcoal-mid: #80868A;

    --color-cyan-bg: #E6FBFB;
    --color-cyan-border: #A1E4E4;
    --color-cyan-mid: #5CB9B9;

    --color-lavender-bg: #F6F2FF;
    --color-lavender-border: #C8B7F0;
    --color-lavender-mid: #937DD8;


}


#root, html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background: var(--bg-app);
    color: var(--text-primary);
}


@media (prefers-color-scheme: light) {
    :root {

        --font-size-small: 12px;
        --font-size-medium: 14px;
        --font-size-large: 16px;

        --bg-app: #ffffff;
        --bg-surface: #e2e2e2;
        --bg-sidebar: #f4f4f4;
        --bg-hover: #efefef;

        --text-primary: #111111;
        --text-secondary: #cccccc;
        --text-muted: #888888;

        --border-color: #e6e6e6;
        --border-radius: 9px;
        --border-radius-medium: 12px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-app: #121212;
        --bg-surface: #1e1e1e;
        --bg-sidebar: #1a1a1a;
        --bg-hover: #2a2a2a;

        --text-primary: #f5f5f5;
        --text-secondary: #cccccc;
        --text-muted: #888888;

        --border-color: #222222;
        --border-radius: 10px;

        --accent: #3b82f6;
        --accent-hover: #60a5fa;
    }

}