.layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex: 1;
    margin: 8px;
    justify-content: center;
    align-items: center;
}

.footer {
    transition: opacity 0.2s ease;
    opacity: 1;
    margin-top: auto;
}

:global([data-collapsed="true"]) .footer {
    opacity: 0;
    pointer-events: none;
}