.sidebar {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100vh;
    border-right: 1px solid var(--border-color);
    transition: width 0.2s;
    overflow: hidden;
}

.sidebar[data-collapsed="true"] {
    width: 52px;
}

.footer {
    margin-top: auto;
}