.uploadImg {
    margin: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    cursor: pointer;
    font-size: var(--font-size-medium);
    border: 1px solid var(--color-grey-border);
    border-radius: var(--border-radius);
    flex-shrink: 0;
}


.uploadImg:hover {
    background-color: var(--bg-hover);
}
