.container {
    border: 1px dashed var(--color-grey-border);
    border-radius: 8px;
    background-color: #fafafa;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
}

.uploadBox {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: var(--font-size-medium);
    display: flex;
    width: 100%;
    height: 100%;
}

.uploadBox:hover {
    border-color: #007bff;
    color: #007bff;
}

.input {
    display: none;
}

.previewBox {
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    overscroll-behavior: contain;
    flex: 1;
    width: 100%;
    height: 100%;
}

.imageWrapper {
    display: flex;
}

.image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.point {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid white;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 10;
    transition: opacity 0.2s ease;
}

.hidePoints {
    opacity: 0;
}

.point[data-label="Person"] {
    background-color: var(--color-green-bg);
    border-color: var(--color-green-border);
}

.point[data-label="Clothing"] {
    background-color: var(--color-red-bg);
    border-color: var(--color-red-border);
}

.point[data-label="Object"] {
    background-color: var(--color-blue-bg);
    border-color: var(--color-blue-border);
}

.point[data-label="Animal"] {
    background-color: var(--color-purple-bg);
    border-color: var(--color-purple-border);
}

.point[data-label="Location"] {
    background-color: var(--color-yellow-bg);
    border-color: var(--color-yellow-border);
}

.point[data-label="Landmark"] {
    background-color: var(--color-teal-bg);
    border-color: var(--color-teal-border);
}
