.info {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.icon {
    align-items: center;
    margin-right: 2px;
}

.text {
    display: flex;
    flex-direction: column;
}

.deleteBtn {
    border: none;
    background: none;
    color: firebrick;
    margin-left: auto;
}

.text input {
    position: relative;
    pointer-events: auto;
    background: none;
    border: none;
    outline: none;
}

.text input:focus {
    outline: none;
}