.layout {
    display: flex;
    height: 100%;
}

.main {
    flex: 1;
    display: flex;
    min-width: 0;
}

.container {
    display: flex;
    flex: 1;
    padding: 34px;
    min-width: 0;
}

.footer {
    transition: opacity 0.2s ease;
    opacity: 1;
    margin-top: auto;
}

:global([data-collapsed="true"]) .footer {
    opacity: 0;
    pointer-events: none;
}