.layout {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 100%;
    gap: 16px;
    padding: 16px;

}

.sidebarShell {
    width: 250px;
    display: flex;
    height: 100%;
    transition: width .15s ease;
}

.main {
    flex: 1;
    display: flex;
    transition: width .15s ease;
}

.container {
    display: flex;
    flex: 1;
}

.sidebarShell[data-collapsed="true"] {
    width: 50px;
}

.main[data-collapsed="true"] {
    margin-left: 55px;
}