.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.toolMenu {
    margin-bottom: 16px;
}

.editingAreaPreview {
    display: flex;
    flex: 1;
    overflow: hidden;
}
